page-home {
    ion-content{
        
        text-align: center;
        background-image:url("../assets/image/Beadle_background.png");
        background-size: cover;
    }

    img {
        margin-top: 200px;
        width: 120px;
    }

}

