<ion-header>
  <ion-navbar>
    <ion-title>
     Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >
<!--
  
<form ng-submit="doLogin()">

    <ion-input  round type="text" ng-model="loginData.username" placeholder="Username" name="username" #username></ion-input>

    <ion-input type="password" ng-model="loginData.password" placeholder="Password" name="password" #password></ion-input>

    <button ion-button round block (click)="signIn()">Sign In</button>
    <button ion-button round block (click)="signUp()">Register</button>

</form>
-->

<br><br><br>
<ion-input  round type="text" placeholder="Username" name="username" #username></ion-input>

<ion-input type="password" placeholder="Password" name="password" #password></ion-input>


<button ion-button round block (click)="signIn()">Sign In</button>


<button ion-button round block (click)="signUp()">Register</button>


</ion-content>